html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
}

header {
    height: 5%;
    background-color: white;
}

a {
    text-decoration: none;
    background-color: white;
    text-align: center;
    color: black;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0% auto;
}

.hero {
    background-image: url(taxi.jpg);
    background-size: cover;
    height: 100vh;
}

.informationText {
    background-color: #f7b617;
    position: absolute;
    width: 77%;
    height: 28vh;
    right: 0%;
    top: 50%;
}

.col-1 {
    width: 8.333333333333332%;
}

.col-2 {
    width: 16.666666666666664%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333333333%;
}

.col-5 {
    width: 41.66666666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333333333336%;
}

.col-8 {
    width: 66.66666666666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333333334%;
}

.col-11 {
    width: 91.66666666666666%;
}

.col-12 {
    width: 100%;
}


/* background-color: #f7b617; */


/* #2b2b2b  */